
/** ADD YOUR AWESOME CODES HERE **/

/*Tamaño minimo de pantalla*/
body {
	min-width: 330px;
}

.progress {
    text-align:center;
}
.progress-value {
    position:absolute;
    right:0;
    left:0;
    font-weight: bold;
    font-size: 150%;
    color: black;
}
.submenu {
	text-align: left;
    display: block;
    width: 100%;
    margin-bottom: 0;
    border-bottom: none;
    color: #6f6f6f;
    padding: 3px 12px !important;
    border-bottom: none;
    padding-top: 13px !important;
    padding-bottom: 13px !important;
}

.products-box-main {
	padding: 70px 0px;
	padding-bottom: 20px;
}

.card-title {
	font-weight: bold;
	font-size: 150%;
}

/*Linea que se muestra en productos*/
.linea:before {
	content: '';
	transition-duration: 0.5s;

	background: #1D2D44;
	width: 2px;
	height: 120px;

	position: absolute;

	left: 6px;
	top: 100%;

	opacity: 0;
}

.linea:hover:before {
	top: 20%;

	opacity: 1;
}

.lineaDer:before {
	content: '';
	transition-duration: 0.5s;

	background: #1D2D44;
	width: 2px;
	height: 120px;

	position: absolute;

	right: 6px;
	top: 100%;

	opacity: 0;
}

.lineaDer:hover:before {
	top: 20%;

	opacity: 1;
}

/*Cambio en h2 de recientes*/
h2.title-recientes {
	font-size: x-large;
	font-weight: bold;
}

/*Configuraciones para el blog*/
.blog-box-main {
	padding: 70px 0px;
	padding-bottom: 20px;
}

.social-list a {
    width: 32px;
    height: 32px;
    padding-top: 3px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    background-color: #101123;
    color: #D5D5D5;
}

.social-list a:hover {
    color: #E53A33;
    background-color: rgba(229, 58, 51, 0.3)
}

.topic-blog {
	font-size: x-large;
	font-weight: bolder;
	color: #1D2D44;
	border-bottom-style: dashed;
	border-bottom-color: #6F6F6F; 
	border-bottom-width: 1px;
	padding: 25px 0px;
}

/* Color azul */

.azul {
	background: #101123;
}

.azul-texto {
	color: #E53A33;
	font-family: 'Work Sans', sans-serif;
	padding: 0;
	margin: 0;
} 

.subtitulo {
	font-size: x-large;
}

.nombre {
	font-size: 175%;
	font-weight: bolder;
}

/* Movimiento teatro por la dignidad */
.movimiento-box-main {
	padding: 70px 0px;
	padding-bottom: 20px;

	background-image: url(../images/mtd_baja.svg);
  	background-color: #cccccc;
  	height: 500px;
 	background-position: center;
 	background-repeat: no-repeat;
 	background-size: cover;
  	position: relative;
}

.text-movimiento {
	text-align: center;
  	position: relative;
  	top: 60%;
  	color: white;
}

@media only screen and (max-width: 600px) {
	.movimiento-box-main {
		padding: 70px 0px;
		padding-bottom: 20px;

		background-image: url(../images/mtd_baja_small.svg);
	  	background-color: #cccccc;
	  	height: 350px;
	 	background-position: center;
	 	background-repeat: no-repeat;
	 	background-size: cover;
	  	position: relative;
	}
}